@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../../assets/fonts/NanumBarunGothic.eot');
    src: url('../../assets/fonts/NanumBarunGothic.eot') format('embedded-opentype'),
    url('../../assets/fonts/NanumBarunGothic.woff') format('woff');
}

* {
    font-family: 'NanumBarunGothic', '-apple-system', 'BlinkMacSystemFont', 'Apple SD Gothic Neo', 'Noto Sans Korean', 'sans-serif';
    word-break: keep-all;
    /*overflow-wrap: break-word;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*text-rendering: optimizeLegibility;*/
}

.header-wrapper, #main {
    width: 100%;
}
.el-tabs {
    position: relative;
}
/*.el-tabs__item.is-left {*/
/*    !*padding-top: 12px;*!*/
/*    !*padding-bottom: 12px;*!*/
/*}*/
@media (max-width: 1140px) {
    .el-tabs__header.is-left {
        position: fixed;
        left: 0;
        height: 200px;
        width: 60px;
        padding-top: 10px;
    }
    .el-tabs__header.is-left .sport-name {
        display: none;
    }
    .el-tabs__content {
        left: 70px;
        width: calc(100% - 80px);
    }
}



/*로고는 이미지로 대체하기*/
#ft-logo { display: inline-block; font-family: 'Gamja Flower'; font-size: 24px; color: #0AC5A8; transform: rotate(-5deg); }
.header-wrapper, #main  { width: 1140px; margin: 0 auto; }
@media (max-width: 1140px) {
    .header-wrapper, #main { width: 100% }
}
.tit { font-size: 20px; }
.el-col { padding-top: 6px; padding-bottom: 6px; }
.el-menu--horizontal>.el-menu-item.is-active { border-bottom-color: transparent }
.el-button.is-loading:before { background-color: transparent }
a.non-link:hover { font-weight: 700; }
a.non-link:link, a.non-link:visited { color: inherit; }
.el-button.default { color: initial; }


body {font-family: 'NanumBarunGothic', 'serif';}
